:root {
  --clr-primary-100: hsl(0, 0%, 100%);

  --clr-blue-100: hsl(225, 100%, 98%);
  --clr-blue-300: hsl(225, 100%, 94%);
  --clr-blue-500: hsl(245, 75%, 52%);
  --clr-blue-700: hsl(224, 23%, 55%);
  --clr-blue-900: hsl(223, 47%, 23%);
}